*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: white;    
}

/* navbar  */

.navbar {
    background-color: rgb(23, 23, 139);
}

/* date  */

ul {
    list-style-type: none;
    font-size: 15px;
    color: white;
    padding-top: 10px;
}

li {
    float: left;
}

/* input and submit  */

input {
    text-align: center;
    margin: 20px 0;
}

input[type="text"] {
    height: 40px;
    width: 150px;
    background: lightblue; 
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: black;
    border-radius: 10px;
}

input[type="submit"] {
    height: 40px;
    width: 70px;
    background: lightgrey;
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: black;
    border-radius: 10px;
}

/* fetched weather data  */

.container {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    /* float: left; */
    /* width: 100%; */
}
/* 
.container-fluid {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    /* float: left; */
    /* width: 100%; */
} */

.col-2 {
    background-color: rgb(35, 80, 204);
    border-right-color: black;
    margin: 2px;
    width: 5px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

  /* Responsive .col-2 */
@media screen and (max-width: 600px) {
    .col-2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

h2 {
    color: black;
    font-size: 15px;
    font-style: bold;
}

h3{
    font-size: 10px;
    color: white;
}

h4 {
    color: white;
    font-size: 10px;
}

 /* footer  */

footer {
    background: white;
    color: black;
    font-weight: lighter;
    font-family: sans-serif;
    padding: 50px 35px;
    font-size: 20px;
    float: right;
    height: 10%;
    width: 100%;
  }

  footer h5 {
      font-size: 10x;
  }

  footer p {
    font-size: 10px;
}

/* ----------------------- updated to floating cards to be mobile responsive --------------------- */

/* float 5 columns  */
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  
  .row {margin: 0 -5px;}
  
/* removes float  */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* responsive for smaller devices  */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
/* cards  */
  .card {
    box-shadow: 0 4px 8px 0;
    color: white;
    background-color: rgb(35, 80, 204);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }